<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Landing Pages">
    <test name="Check validation messages - www.fortrade.com/minilps/en/reg-to-invest-in-stocks-only-work-with-the-best/ ">
        <classes>
            <class name="Tests.RegistrationTestLp1">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/inst-oil/">
        <classes>
            <class name="Tests.RegistrationTestLp2">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/trading-shares-is-at-your-fingertips/">
        <classes>
            <class name="Tests.RegistrationTestLp3">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/cryptocurrency/">
        <classes>
            <class name="Tests.RegistrationTestLp4">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/lp4/invest-today-bitcoin/">
        <classes>
            <class name="Tests.RegistrationTestLp5">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/when-you-jump-into-online-trading-be-smart-about-it/">
        <classes>
            <class name="Tests.RegistrationTestLp6">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/reg-trade-opportunities-can-glitter-like-gold-at-fortrade/">
        <classes>
            <class name="Tests.RegistrationTestLp7">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/no-commission/">
        <classes>
            <class name="Tests.RegistrationTestLp8">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/reg-place-stocks-in-your-future/">
        <classes>
            <class name="Tests.RegistrationTestLp9">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check validation messages - www.fortrade.com/minilps/en/opportunities-to-trade-on-oil-are-gushing-at-fortrade/">
        <classes>
            <class name="Tests.RegistrationTestLp10">
                <methods>
                    <include name="fieldsValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>